<div class="login-container">
  <button
    class="login-btn"
    data-testid="drawer-client-login-btn"
    (click)="toggle(); $event.stopPropagation()"
  >
    {{ 'clientPortalLogin.button' | translate }}
  </button>

  @if (isOpen()) {
  <div class="login-dropdown">
    <h3>{{ 'clientPortalLogin.heading' | translate }}</h3>
    <p>{{ 'clientPortalLogin.desc' | translate }}</p>
    <a
      data-testid="google-signin-link"
      href="/oauth2/authorization/google"
      class="google-signin-btn"
    >
      {{ 'clientPortalLogin.signIn' | translate }}
    </a>
    <p class="security-label">{{ 'clientPortalLogin.secured' | translate }}</p>
  </div>
  }
</div>
